<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>
  #infotext {padding-left: 20%; font-family: "Trebuchet MS", Helvetica, sans-serif; position: absolute;}
  #dis1, #dis2, #dis3, #dis4, #dis5, #dis6, #dis7, #dis8, #dis9, #dis10 {padding-left: 20%; font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #diseaseHeading {padding-left: 20%; font-family: "Trebuchet MS", Helvetica, sans-serif; }

  </style>

  <title>MyMed - Encylopedia</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">
  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

<script src = "static/js/p5.js"></script>
<script src = "static/js/p5.sound.js"></script>
<script>
  let queryTerm = document.location.search.replace(/^.*?\=/,'');  //getting query term from url
  //console.log(queryTerm);
  queryTerm = queryTerm.replace(/%20/g,' ');  //getting query term from url
  let searchUrl = 'https://en.wikipedia.org/w/api.php?action=opensearch&format=json&search=';
  let contentUrl = 'https://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&format=json&titles=';
  setup();

  function setup() {
    labelChange();
    let url =  searchUrl + queryTerm;
    loadJSON(url, gotSearch, 'jsonp');
  }

  function gotContent(data){
    console.log(Object.keys(data.query.pages));
  }

  function checkPageData(title, pageUrl){
    let fixedTitle = title.replace(/\s+/g, '_');
    console.log(fixedTitle);
    let contentSearch = "https://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&format=json&titles=" + fixedTitle;
    console.log(contentSearch);
    loadJSON(contentUrl, gotContent, 'jsonp');
  }

  function checkUndefined(totalPages, pages){
    for (let currPage = 0; currPage < totalPages; currPage++){
      if (typeof pages[0][currPage] != 'undefined'){  //checking if search entries exist
        let pageString = currPage + 1;
        document.getElementById("dis" + pageString).innerHTML = pageString + ". " + pages[0][currPage];
        document.getElementById("dis" + pageString).href = pages[1][currPage];
        checkPageData(pages[0][currPage], pages[1][currPage]);
      }
    }
  }

  function gotSearch(data){
    console.log(data);
    pages = new Array(data[1][0], data[1][1], data[1][2], data[1][3], data[1][4], data[1][5], data[1][6], data[1][7], data[1][8], data[1][9]);
    urls = new Array(data[3][0], data[3][1], data[3][2], data[3][3], data[3][4], data[3][5], data[3][6], data[3][7], data[3][8], data[3][9]);
    pageData = new Array(pages, urls);
    if (typeof pageData[0][0] == 'undefined'){
      document.getElementById("dis1").innerHTML = "No results for the search term '" + queryTerm + "'.";
    }
    let numResults = localStorage.getItem('numResults');
    checkUndefined(numResults, pageData);
  }

  function labelChange(){
    let volume = localStorage.getItem('volume');
    if (volume == 'False'){
      document.getElementById("diseaseHeading").innerHTML = "Results on diseases related to: '" + queryTerm + "'";
    } else {
      document.getElementById("diseaseHeading").innerHTML = "Results on medications related to: '" + queryTerm + "'";
    }
  }

</script>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchNews.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopaedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Encyclopedia Search Results</h1>
    </div>
  </header>

  <div>
    <br>
    <h1 id = "diseaseHeading" >Results on ... related to ...</h1>
  </div>
  <div>
    <p id = "infotext">Click on a result to view more information from our trusted database.<br> Encylopedia results are sorted by the amount of other users visiting these pages.</p><br><br><br>
    <a target="_blank" id = "dis1"></a><br>
    <a target="_blank" id = "dis2"></a><br>
    <a target="_blank" id = "dis3"></a><br>
    <a target="_blank" id = "dis4"></a><br>
    <a target="_blank" id = "dis5"></a><br>
    <a target="_blank" id = "dis6"></a><br>
    <a target="_blank" id = "dis7"></a><br>
    <a target="_blank" id = "dis8"></a><br>
    <a target="_blank" id = "dis9"></a><br>
    <a target="_blank" id = "dis10"></a><br>
  </div>
  <div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
