<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>
  #text1 {
    padding-left: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  </style>

  <title>MyMed - Encylopedia</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">
  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchNews.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopaedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Encyclopedia</h1>
    </div>
  </header>

  <div>
    <br>
    <h1 id = "text1">Diseases related to: "coronavirus"</h1>
  </div>
  <div>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" id = "text1">1. COVID-19 (Novel Coronavirus)</a>
        <p id = "text1">MyMed Verified Wesbite, 20000 Viewers, Updated 01/04/2020</p>
    <a href="https://www.who.int/csr/sars/en/" target="_blank" id = "text1">2. SARS (Severe Acute Respiratory Syndrome) Coronavirus</a>
        <p id = "text1">MyMed Verified Wesbite, 3000 Viewers, Updated 20/02/2020</p>
    <a id = "text1" href="https://www.who.int/news-room/fact-sheets/detail/middle-east-respiratory-syndrome-coronavirus-(mers-cov)" target="_blank">3. MERS (Middle East Respiratory Syndrome) Coronavirus</a>
        <p id = "text1">MyMed Verified Wesbite, 180 Viewers, Updated 12/02/2019</p>
  </div>
  <div>
    <h1 id = "text1">Medications related to: "coronavirus"</h1>
  </div>
  <div class="col-lg-4 col-md-6 mb-4" id = "text1">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../static/images/telfast.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="medicine.html">1. TELFAST 180mg Hayfever Allergy Reliefs</a>
            </h4>
          </div>
        </div>
  </div>

    <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../static/images/quilton.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="medicine.html">2. Quilton Toilet Tissue 3 Ply White 180 Sheets 24 pack</a>
              </h4>
            </div>
          </div>
    </div>





  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
