<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>
  #dis1 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis2 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis3 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis4 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis5 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis6 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis7 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis8 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis9 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #dis10 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }

  #diseaseHeading { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #link1 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #link2 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #link3 { padding-left: 30px;font-family: "Trebuchet MS", Helvetica, sans-serif; }

  </style>

  <title>MyMed - Encylopedia</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">
  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

<script src = "static/js/p5.js"></script>
<script src = "static/js/p5.sound.js"></script>
<script>
  let queryTerm = document.location.search.replace(/^.*?\=/,'');  //getting query term from url
  //console.log(queryTerm);
  queryTerm = queryTerm.replace(/%20/g,' ');  //getting query term from url
  let searchUrl = 'https://en.wikipedia.org/w/api.php?action=opensearch&format=json&search=';
  let contentUrl = 'https://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&format=json&titles=';
  setup();

  function setup() {
    labelChange();
    let url =  searchUrl + queryTerm;
    loadJSON(url, gotSearch, 'jsonp');
  }

  function gotSearch(data){
    //console.log("In gotSearch()");
    console.log(data);
    pages = new Array(data[1][0], data[1][1], data[1][2], data[1][3], data[1][4], data[1][5], data[1][6], data[1][7], data[1][8], data[1][9]);
    urls = new Array(data[3][0], data[3][1], data[3][2], data[3][3], data[3][4], data[3][5], data[3][6], data[3][7], data[3][8], data[3][9]);
    pageData = new Array(pages, urls);
    if ((typeof pageData[0][0] == 'undefined') && (typeof pageData[0][1] == 'undefined') && (typeof pageData[0][2] == 'undefined')){
      document.getElementById("dis1").innerHTML = "No results for the search term '" + queryTerm + "'.";
    }
    if (typeof pageData[0][0] != 'undefined'){  //checking if search entries exist
      document.getElementById("dis1").innerHTML = "1. " + pageData[0][0];
      document.getElementById("dis1").href = pageData[1][0];
    }
    if (typeof pageData[0][1] != 'undefined'){
      document.getElementById("dis2").innerHTML = "2. " + pageData[0][1];
      document.getElementById("dis2").href = pageData[1][1];
    }
    if (typeof pageData[0][2] != 'undefined'){
      document.getElementById("dis3").innerHTML = "3. " + pageData[0][2];
      document.getElementById("dis3").href = pageData[1][2];
    }
    if (typeof pageData[0][3] != 'undefined'){
      document.getElementById("dis4").innerHTML = "4. " + pageData[0][3];
      document.getElementById("dis4").href = pageData[1][3];
    }
    if (typeof pageData[0][4] != 'undefined'){
      document.getElementById("dis5").innerHTML = "5. " + pageData[0][4];
      document.getElementById("dis5").href = pageData[1][4];
    }
    if (typeof pageData[0][5] != 'undefined'){
      document.getElementById("dis6").innerHTML = "6. " + pageData[0][5];
      document.getElementById("dis6").href = pageData[1][5];
    }
    if (typeof pageData[0][6] != 'undefined'){
      document.getElementById("dis7").innerHTML = "7. " + pageData[0][6];
      document.getElementById("dis7").href = pageData[1][6];
    }
    if (typeof pageData[0][7] != 'undefined'){
      document.getElementById("dis8").innerHTML = "8. " + pageData[0][7];
      document.getElementById("dis8").href = pageData[1][7];
    }
    if (typeof pageData[0][8] != 'undefined'){
      document.getElementById("dis9").innerHTML = "9. " + pageData[0][8];
      document.getElementById("dis9").href = pageData[1][8];
    }
    if (typeof pageData[0][9] != 'undefined'){
      document.getElementById("dis10").innerHTML = "10. " + pageData[0][9];
      document.getElementById("dis10").href = pageData[1][9];
    }
  }

  function labelChange(){
    let volume = localStorage.getItem('volume');
    if (volume == 'False'){
      document.getElementById("diseaseHeading").innerHTML = "Information on diseases related to: '" + queryTerm + "'";
    } else {
      document.getElementById("diseaseHeading").innerHTML = "Information on medications related to: '" + queryTerm + "'";
    }
  }

</script>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchNews.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopaedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Encyclopedia</h1>
    </div>
  </header>

  <div>
    <br>
    <h1 id = "diseaseHeading" >Information on ... related to ...</h1>
  </div>
  <div>
    <a target="_blank" id = "dis1"></a>
        <p id = "link1"></p>
    <a target="_blank" id = "dis2"></a>
        <p id = "link2"></p>
    <a id = "dis3" target="_blank"></a>
        <p id = "link3"></p>
    <a target="_blank" id = "dis4"></a>
        <p id = "link4"></p>
    <a target="_blank" id = "dis5"></a>
        <p id = "link5"></p>
    <a id = "dis6" target="_blank"></a>
        <p id = "link6"></p>
    <a target="_blank" id = "dis7"></a>
        <p id = "link7"></p>
    <a target="_blank" id = "dis8"></a>
        <p id = "link8"></p>
    <a id = "dis9" target="_blank"></a>
        <p id = "link9"></p>
    <a id = "dis10" target="_blank"></a>
        <p id = "link10"></p>
  </div>
  <div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
