<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>
  #text1 {
    padding-left: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  </style>
  <title>MyMed - News</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchNews.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopaedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>News</h1>
    </div>
  </header>
  <br>
  <div id = "text1">
    <h1>Showing results for: "coronavirus"</h1>
  </div>
  <div id = "text1">
    <a href="https://www.abc.net.au/news/2020-04-01/retired-nurses-doctors-pharmacists-recalled-to-fight-coronavirus/12109608">1. Retired nurses, doctors, pharmacists to be re-instated to help fight coronavirus</a>
        <p>MyMed Verified Website, ABC News, 2 Hours Ago </p>
  </div>
  <div id = "text1">
    <a href="https://www.abc.net.au/news/2020-04-01/coronavirus-chinese-ppe-border-force-intercepted/12085908">2. Australia seizes faulty coronavirus protective equipment imported from China</a>
        <p>MyMed Verified Website, ABC News, 3 Hours Ago </p>
  </div>
  <div id = "text1">
    <a href="https://www.washingtonpost.com/world/2020/04/01/coronavirus-latest-news/">3. Live updates: Trump projects at least 100,000 coronavirus deaths in U.S.; European markets slump</a>
        <p>Not Verified Wesbite, Washington Post, 52 minutes ago</p>
  </div>
  <div id = "text1">
    <a href="https://www.news.com.au/world/coronavirus/global/covid19-how-china-controlled-the-coronavirus-pandemic/news-story/bdd808e9efefbb7338b2d2544ee58a57">4. COVID-19: How China controlled the coronavirus pandemic</a>
        <p>MyMed BLACKLISTED, news.com.au, 2 days ago</p>
  </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>
</html>
