<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MyMed - Price Compare</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">
  <link rel="icon" href="../static/images/logo.png">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchNews.html">Medical News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopedia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- Load icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- The form -->
      <br><br><br><br><br><br>
      <h1>Price Comparison Search Engine</h1><br>
      <p id = "paragraph">
        <br>
        Here at MyMed, we want to make sure you're well informed of your options. That's why you can use our search engine
        to compare prices of all your regular medications across many pharmacies, and find your closest one.
        <br><br>
        Type in your medication using either the everyday name you know it as, or its active ingredient.
      </p>
    </div>
  </div>

    <div class="searchBar">
    <!-- Load icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- The form -->
      <h3>Search by Common Name or Active Ingredient</h3>
      <form class="example" action="searchName.html" onsubmit="return empty()">
        <input type="text" placeholder="Search.." name="search" id="query"></input>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <script>
      function empty() {
        var x;
        x = document.getElementById("query").value;
        if (x == "") {
            alert("You haven't entered anything into the search bar.");
            return false;
        };
      }
    </script>
</html>
