<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Med - Shop Compare</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">

  <!-- Custom styles for this template -->
  <link href="static/css/shop-homepage.css" rel="stylesheet">
  <link rel="icon" href="../static/images/logo.png">

  <style>
    #map {
      height: 500px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      text-align: center;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80" height="80">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchNews.html">Medical News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <br>
  <br>
  <br>
  <h1 id = "results">      Showing results for: {queryTerm} </h1><br>
  <div id="container"></div>
      <script type="text/javascript">
      let queryTerm = document.location.search;  //getting query term from url
      queryTerm = queryTerm.split("&")
      queryTerm = queryTerm[0].split("=")
      console.log(queryTerm[1]);

      const result = document.getElementById("results")
      result.innerHTML = "Showing results for: " + queryTerm[1];

      const url = 'https://cors-anywhere.herokuapp.com/https://serpapi.com/search.json?engine=google&q=' + queryTerm[1] + '&google_domain=google.com.au&gl=au&hl=en&tbm=shop&api_key=ce42355179a8829936e8ad58e8ed4b4322283dd10eb6d9c8be8f131bc8cdfbdc'
      async function getData() {
        const response = await fetch(url);
        const data = await response.json();
        // console.log('hello')
        console.log(data.shopping_results)
        let i = 0;
        const c = document.getElementById("container")
        c.setAttribute("class", "display")
        for (i = 0; i < 6; i++) {
          // container
          const product = document.createElement("div")
          product.setAttribute("class", "product");
          product.setAttribute("class", "row");
          product.setAttribute("style", "padding:40x");
          c.appendChild(product)
          // image
          const imgdiv = document.createElement("div")
          imgdiv.setAttribute("class", "col-md-3");
          const img = document.createElement("img")
          img.src = data.shopping_results[i].thumbnail;
          imgdiv.appendChild(img)
          product.appendChild(imgdiv)
          // title
          const textdiv = document.createElement("div")
          textdiv.setAttribute("class", "col-md-7");
          const hlink = document.createElement("a")
          hlink.setAttribute("style", "font-size:30px")
          hlink.setAttribute("target", "_blank")
          hlink.innerHTML = data.shopping_results[i].title
          hlink.href = data.shopping_results[i].link
          textdiv.appendChild(hlink)
          // price
          const price = document.createElement("h3")
          let pricetext = document.createTextNode(data.shopping_results[i].price)
          price.appendChild(pricetext)
          textdiv.appendChild(price)
          product.appendChild(textdiv)
          // source
          const source = document.createElement("p")
          source.innerHTML = data.shopping_results[i].source
          textdiv.appendChild(source);
          // description
          const desc = document.createElement("h5")
          let text = document.createTextNode(data.shopping_results[i].snippet)
          desc.appendChild(text)
          textdiv.appendChild(desc)
          product.appendChild(textdiv)
        }
      }
          getData();
      </script>


          <h1>Pharmacies Near Me</h1> <br>

          <div id = "map"></div>
          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCWeQqmIBeMj0-HG79MNSNZe8Uxogxx8f4">
          </script>
          <script>
            var map;
            var infoWindow;

            var request;
            var service;
            var markers = [];

            function initialise() {
              var center = new google.maps.LatLng(-33.917347, 151.2290788);
              map = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: 15
              });

              request = {
                location: center,
                radius: 8000,
                types: ['pharmacy']
              };
              infoWindow = new google.maps.InfoWindow();

              service = new google.maps.places.PlacesService(map);
              service.nearbySearch(request, callback);

              google.maps.event.addListener(map, 'rightclick', function(event) {
                map.setCenter(event.LatLng)
                clearResults(markers)

                var request = {
                  location: event.LatLng,
                  radius: 8000,
                  types: ['pharmacy']
                };
                service.nearbySearch(request, callback);
              })
            }

            function callback(results, status) {
              if(status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                  markers.push(createMarker(results[i]));
                }
              }
            }

            function createMarker(place) {
              var placeLoc = place.geometry.location;
              var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
              });

              google.maps.event.addListener(marker, 'click', function() {
                  infoWindow.setContent(place.name);
                  infoWindow.open(map, this);
              });
              return marker;
            }

            function clearResults(markers) {
              for (var m in markers) {
                markers[m].setMap(null)
              }
              markers=[]
            }
            google.maps.event.addDomListener(window, 'load', initialise);
          </script>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <br>
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
