<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MyMed - Encyclopedia</title>
  <style>
    #helperText {color: black; text-align: justify;}
  </style>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">
  <link rel="icon" href="../static/images/logo.png">
  <script src = "static/js/p5.js"></script>
  <script src = "static/js/p5.sound.js"></script>

</head>

<body id="page-top">

  <script>
    let searchUrl = 'https://en.wikipedia.org/w/api.php?action=opensearch&format=json&search=';
    let contentUrl = 'https://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&format=json&titles=';
    let userInput;

    function setup() {
      //console.log("In setup()");
      console.log(document.getElementById('numResults').value);
      userInput = select('#userinput');
      if (userInput.length < 2){
        document.getElementById('helperText').style.color = "red";
        document.getElementById('userinput').value = '';
      }
      userInput.changed(goWiki);

      function goWiki(){
        localStorage.setItem('numResults', document.getElementById('numResults').value);
        console.log("In goWiki()");
        let term = userInput.value();
        let termLength = term.length;
        if(document.getElementById('medRadio').checked && termLength > 2) {
          localStorage.setItem('volume', 'True');
          window.document.location = './encyclopedia.html' + '?query=' + term;
        } else if(document.getElementById('disRadio').checked && termLength > 2) {
          localStorage.setItem('volume', 'False');
          window.document.location = './encyclopedia.html' + '?query=' + term;
        } else {
          document.getElementById('helperText').style.color = "red";
          document.getElementById('userinput').value = '';
        }
      }
    }
  </script>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchNews.html">Medical News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopedia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
          </li>

        </ul>
      </div>
    </div>
  </nav><section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- Load icon library -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <!-- The form -->
          <h1>Encyclopedia Search: </h1><br>
          <p id = "helperText">Search our encyclopedia for information on drugs and diseases. <br><br></p>
          <form class="example" onsubmit="setup();">
            <p><b>Filter searches by:</b></p>
            <input type="radio" id="medRadio" name="option" value="male">
            <label for="meds">Medication &emsp;</label>
            <input type="radio" id="disRadio" name="option" value="female">
            <label for="diseases">Diseases</label><br><br>
            <label for="cars">Choose number of results:</label>
            <select id="numResults">
              <option value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
            </select><br><br>
            <p><b>Enter a term to search for:</b></p>
            <input type="text" placeholder="Search.." name="search" id="userinput"></input>
            <button type="submit"><i class="fa fa-search"></i></button>
            <br><br><br>
            <p id = "helperText">
              <u><br><br>Need Help?</u> <br>The encyclopedia stores all our articles about drugs and diseases, meaning you can get all the information about any specific medical term! <br>Press one of the buttons to search by medication or by diseases. Then choose the number of results you want to see. Also make sure you are typing 3 or more letters in the text box labelled 'Search..', then press the 'magnifying glass' button. The top results, sorted by popularity will be shown to you.</p>
            <br><br>
          </form>
        </div>


      </div>
    </div>
  </section>


</html>
