<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #helpertext {padding-left: 20%; padding-right: 20%; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: justify;}
  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MyMed - Price Compare</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">
  <link rel="icon" href="../static/images/logo.png">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <img src="static/images/logo.png" alt="logo" width="80"
         height="80">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="medHistory.html">My Medical History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchNews.html">Medical News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchEncyclopaedia.html">Encyclopedia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="searchPriceCompare.html">Price Compare</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <section id="localPharms">


    <div class="searchBar">
    <!-- Load icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <h1>Price Compare</h1>
      <p>This page helps you find the best price for a drug (medication), by comparing prices of drugs at local stores!<br><br></p>
      <!-- The form -->
      <h1>Search by Common Name</h1>
      <form class="example" action="searchName.html">
        <input type="text" placeholder="Search.." name="search"></input>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class="searchBar">
      <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- The form -->
        <h1>Search by Active Ingredient</h1>
        <form class="example" action="searchName.html">
          <input type="text" placeholder="Search.." name="search"></input>
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div>
        <br><br><br>
        <p id = "helpertext"><u>Need Help?</u><br>
        <b>1. Using 'search by common name'.</b><br>
        Enter a drug/medicine that you are looking to buy into the search bar underneath the text "Search by common name".
        Press the 'magnifying glass icon' and the top results, prices and stores will be shown for the specified name. Click on a product's name to view more information about it!<br><br>
        <b>2. Using 'search by active ingredient'</b><br>
        An active ingredient is the part of the drug that affects the body.
        Drugs containing the same active ingredient will have very similar effects.
        Please check with your doctor that the drugs with the same active ingredient are interchangeable.
        Enter a drug/medicine that you are looking to buy into the search bar underneath the text "Search by common name".
        Press 'magnifying glass icon' and the top drug results, prices and stores will be shown for the specified active ingredient. Click on a product's name to view more information about it!<br><br>
        <b>3. Using 'Pharmacies near me'</b><br>
        'Pharmacies near me' shows you the closest pharmacies near your area!
        To use it, click and hold on the map then drag your mouse to move around the map.
        Scroll in/out using the mouse to zoom in/out. Any red markers on the map represent pharmacies.
        To get more information, click on the red marker.
      </p>
      </div>
  </section>


</html>
